.expand-button {
    @media (max-width: 700px) {
        padding: 1.33vw;
        width: 4.2vw;
        height: 4.2vw;
        
        &::after {
            width: 1.46vw;
            height: 1.46vw;
        }        
    }
}