.faq {
    @media (max-width: 700px) {
        .container {
            position: relative;
            padding: 24.64vw 0 25.3vw 0;
            display: flex;
            flex-direction: column;
            gap: 17.8vw;
    
            .css-15v22id-MuiAccordionDetails-root p {
                font-size: 2.9vw;
                letter-spacing: 0.03vw;
            }
    
            .css-ahj2mt-MuiTypography-root {
                font-size: 3.28vw;
            }
    
            svg {
                position: absolute;
                top: 18vw;
                left: 78.5vw;
                width: 5.73vw;
            }
        }     
    }
}