@use '../abstracts/variables';

@keyframes vertical-shaking {
    0% { transform: translateY(0) }
    25% { transform: translateY(5px) }
    50% { transform: translateY(-5px) }
    75% { transform: translateY(5px) }
    100% { transform: translateY(0) }
}

.header {
    background: rgba(249, 249, 249, .75);
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3.33vw 0 1.71vw 0;
        border-bottom: 1px solid variables.$grey-border;
    }
    
    .logo {
        display: flex;
        align-items: center;
        gap: .76vw;

        img {
            width: 3.2vw;
            animation: vertical-shaking 5s infinite;
        }
        
        span {
            color: variables.$purple-1;
            font-family: 'Poppins';
            font-size: 1.46vw;
            font-weight: 600;
            line-height: 130%;
            animation: vertical-shaking 4s infinite;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 3.7vw;


        a {
            color: variables.$grey-1;
            transition: .5s;
        }
    }

    &__autho {
        display: flex;
        align-items: center;
        gap: 0.625vw;

    }

    @media (min-width: 700px) {
        &__burger {
            display: none;
        }
    }
}

main {
    padding-top: 9.375vw;

    @media (max-width: 700px) {
        padding-top: 28.2vw;
    }
}

.not-found {
    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            color: variables.$purple-1;
        }

        p {
            font-size: 1.3vw;
        }

        a {
            font-size: 1.3vw;
            color: variables.$dark-2;
            text-decoration: underline;

            &:hover {
                color: variables.$purple-1;
            }
        }
    }
}

.footer {
    background-color: variables.$grey-8;
    width: 100%;

    .container {
        padding: 6.66vw 0 5.72vw 0;

        .stick {
            margin: 2vw 0 4vw 0;
            width: 100%;
            height: 0.07vw;
            opacity: 0.25;
            background: #818181;
        }
    }

    &__line1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: .763vw;

        img {
            width: 4.3vw;
            animation: vertical-shaking 5s infinite;
        }

        span {
            color: variables.$purple-1;
            font-family: 'Poppins';
            font-size: 1.4vw;
            font-weight: 600;
            line-height: 130%;
            animation: vertical-shaking 4s infinite;
        }
    }

    &__nav {
        display: flex;
        gap: 4.8vw;

        a {
            color: #999;
        }
    }

    &__line2 {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: #999;
        font-size: 1.3vw;
        font-weight: 500;
        line-height: 147.059%;

        .footer__nav {
            a {
                img {
                    height: 1.45vw;
                }
            }
        }
    }
}