@use '../abstracts/variables';

.banner {
    .container {
        padding: 6.6vw 0;
    }
    
    &__block {
        position: relative;
        border-radius: 2.08vw;
        background-image: url('/eatly/src/assets/icons/background.svg');
        background-size: contain;
        background-color: variables.$purple-1;
        padding: 2.569vw 0 4.23vw 4.6vw;
        display: flex;
        flex-direction: column;
        gap: .625vw;
        animation: backgroundAnim 15s infinite;
        
        h2 {
            opacity: 0.8;
            color: variables.$white-1;
            font-family: 'Poppins';
            font-size: 4.8vw;
            font-weight: 800;
        }
        
        form {
            opacity: 0.8;
            width: 30.5vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 1vw;
            background: #FFF;
            box-shadow: 0px 7.253333568572998px 45.333335876464844px 0px rgba(0, 0, 0, 0.10);
            padding: 0.5vw 0.4vw 0.5vw 1.51vw;

            input {
                color: #878787;
                font-family: 'Poppins';
                font-size: 1.125vw;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.031vw;
                text-transform: capitalize;
            }

            button {
                color: variables.$white-4;
                font-family: 'Poppins';
                font-size: 1vw;
                font-weight: 500;
                letter-spacing: 0.0307vw;
                text-transform: uppercase;

                &:hover {
                    color: variables.$purple-1;
                }
            }
        }

        img {
            position: absolute;
            right: 5vw;
            bottom: -4.5vw;
            width: 19vw;
            animation: rotate 7s infinite;
        }
    }
}