@use '../abstracts/variables';

%button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1.23vw 1.85vw;

    a {
        font-size: 1.25vw;
        font-weight: 700;
        line-height: 1.85vw;
    }
}

.button__login {
    a {
        color: #606060;
    }
    
    &:hover {
        a {
            color: variables.$purple-1;
            text-decoration: underline;
        }
    }

    @extend %button;
}

.button__simple {
    border-radius: 1.25vw;
    background-color: variables.$purple-1;
    border: 0.07vw solid variables.$purple-1;

    a {
        color: variables.$white-2;
    }

    &:hover {
        a {
            color: variables.$purple-1;
        }
        
        background-color: variables.$white-2;
    }

    @extend %button; 
}

.button__out {
    border-radius: 1.25vw;
    background-color: variables.$white-2;
    border: 0.07vw solid variables.$purple-1;

    a {
        color: variables.$purple-1;
    }

    &:hover {
        background-color: variables.$purple-1;

        a {
            color: variables.$white-2;
        }
    }
    
    @extend %button; 
}