@use '../abstracts/variables';

.expand-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.07vw;
    background-color: variables.$purple-1;
    width: 2.01vw;
    height: 2.01vw;
    border-radius: 50%;
    
    &::after {
        display: flex;
        width: 0.73vw;
        height: 0.73vw;
        content: '';
        background-image: url('/src/assets/icons/plus.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;        
    }
}