@use '../abstracts/variables';

a.view-all {
    display: flex;
    align-self: flex-end;
    align-items: center;
    gap: 1.39vw;
    color: variables.$grey-3;
    font-family: 'Poppins';
    font-size: 1.39vw;
    font-weight: 500;
    line-height: 225.921%;
    letter-spacing: -0.1px;

    svg {
        width: 1.32vw;
    }

    &:hover {
        svg {
            margin-right: -0.7vw;
        }
    }

    @media (max-width: 700px) {
        gap: 5.33vw;
        font-size: 5.33vw;
        letter-spacing: -0.007px;

        svg {
            width: 1.32vw;
        }
    }
}