$grey-1: #606060;
$grey-2: #676767;
$grey-3: #ACADB9;
$grey-4: #EDF2F7;
$grey-5: #CBD5E1;
$grey-6: #8E97A6;
$grey-7: #A0AEC0;
$grey-8: #EAEAEA;
$grey-border: #CBCBCB;
$purple-1: #6C5FBC;
$purple-2: #5C4EAE;
$purple-light: #C5BFED;
$dark-1: #201F1F;
$dark-2: #18181B;
$dark-3: #323142;
$dark-4: #1A202C;
$blue-1: #334155;
$white-1: #ffffff;
$white-2: #F9F9F9;
$white-3: #fafafa;
$white-4: #F7F8FA;