@use '../abstracts/variables';

.faq {
    .container {
        position: relative;
        padding: 13.8vw 0 12vw 0;
        display: flex;
        flex-direction: column;
        gap: 8vw;

        .css-yw020d-MuiAccordionSummary-expandIconWrapper.Mui-expanded {
            transform: rotate(45deg);
        }

        .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
            box-shadow: none;
            background-color: none;
            background: none;
        }

        .css-15v22id-MuiAccordionDetails-root p {
            font-size: 1.38vw;
            line-height: 160%;
            font-weight: 400;
            letter-spacing: 0.01vw;
            color: variables.$grey-2;
        }

        .css-ahj2mt-MuiTypography-root {
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 1.62vw;
            color: variables.$dark-3;
            line-height: 253%;
        }

        svg {
            position: absolute;
            top: 9vw;
            left: 56.5vw;
            width: 2.84vw;
        }
    }

    h3 {
        text-align: center;
        line-height: 120%;
    }
}