@use '../abstracts/variables';

.restaurants {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6.944vw 0 8.33vw 0;
        gap: 4.56vw;
        border-bottom: 0.07vw solid variables.$grey-border;
    }

    &__text {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__list {    
        display: flex;
        align-items: center;
        gap: 2.1vw;
    }

    .restaurant {
        position: relative;
        border-radius: 2.08vw;
        box-shadow: 5.94564151763916px 71.34769439697266px 35.67384719848633px 0px rgba(229, 229, 229, 0.70);

        &__image {
            img {
                border-radius: 2.1vw 2.1vw 0 0;
                width: 27vw;
                height: 12vw;
            }
        }

        &__info {
            padding: 0.7vw 0 1.5vw 2.4vw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            div {
                text-transform: capitalize;
            }
        }

        &__desc {
            display: flex;
            flex-direction: column;
            gap: 0.121vw;
        }

        &__rating {
            display: flex;
            align-items: center;
            gap: .448vw;

            p {
                color: variables.$grey-6;
                font-size: 1.3vw;
                font-weight: 400;
                line-height: 133.333%;
            }

            img {
                width: 1.75vw;
                height: 1.75vw;
            }
        }
        svg {
            height: 2.8vw;
            position: absolute;
            bottom: 1.2vw;
            right: 1.9vw;
        }

        button {
            position: absolute;
            bottom: 1.5vw;
            right: 1.47vw;
            padding: 0.7vw 0.9vw;

            img {
                height: 1.5vw;
            }
        }
    }
}

.healthy {
    color: #DAA31A;
    background: #F7EDD0;
    font-family: 'Poppins';
    font-size: .88vw;
    font-weight: 400;
    padding: 0.2vw 0.5vw 0.19vw 0.5vw;
    border-radius: 0.375vw;
}

.trending {
    color: #FB471D;
    background: #F7C5BA;
    font-family: 'Poppins';
    font-size: .88vw;
    font-weight: 400;
    padding: 0.2vw 0.5vw 0.19vw 0.5vw;
    border-radius: 0.375vw;
}