@use '../abstracts/variables';

.article-detail {
    display: flex;
    flex-direction: column;
    gap: 5.55vw;

    &__head {
        .container {
            padding-top: 8.75vw;
        }
    
        &-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            h4 {
                line-height: 119%;
                margin-bottom: 2.22vw;
            }
        }

        &-profile {
            display: grid;
            grid-template-columns: 1fr 2fr;
            column-gap: 1vw;

            img {
                width: 4vw;
                grid-row: 1 / 3;
            }

            p {
                color: variables.$grey-2;
                font-family: 'Poppins';
                font-size: 1.1vw;
                font-weight: 400;
            }

            h6 {
                font-size: 1.5vw;
                line-height: 153%;
            }
        }
    
        &-img {
            margin-top: 4.44vw;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 28vw;
        }
    
        &-profile {
            display: grid;
            grid-template-columns: 1fr 2fr;
            column-gap: 0.8vw;
    
            img {
                grid-row: 1 / 3;
            }
    
            p {
                color: variables.$grey-2;
                font-family: 'Poppins';
                font-size: 0.817vw;
                font-weight: 400;
            }
    
            h6 {
                font-size: 1.18vw;
                line-height: 153%;
            }
        }
    
        &-headings {
            display: flex;
            flex-direction: column;
            gap: 7vw;
        }
    }

    &__main {
        .container {
            display: flex;
            gap: 5vw;
        }

        &-headings {
            display: flex;
            flex-direction: column;
            gap: 7vw;

            .heading {
                display: flex;
                flex-direction: column;
                gap: 1.9vw;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5vw;
                    padding-left: 1.3vw;
                }

                p, ul li {
                    line-height: 202%;
                    font-size: 1.5vw;
                }
            }
        }

        &-more {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2.5vw;
            border-left: 0.07vw solid variables.$grey-1;
            padding-left: 4.5vw;

            h4 {
                font-size: 2.08vw;
                line-height: 150%;
            }
        }
        
        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: 5vw;

            .article {
                display: flex;
                flex-direction: column;
                gap: 1.1vw;
                border-radius: 0.9vw;
                padding: 1.5vw 1.1vw 1.9vw;
                background-color: variables.$white-1;
                box-shadow: 0px 0.37vw 3.25vw 0px rgba(50, 49, 66, 0.2);
    
                &__img {
                    width: 18.3vw;
                }

                &__detail {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1.2vw;

                    &-more {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                    }

                    &-profile {
                        display: grid;
                        grid-template-columns: 1fr 2fr;
                        column-gap: 0.4vw;

                        img {
                            width: 2.5vw;
                            grid-row: 1 / 3;
                        }

                        p {
                            color: variables.$grey-2;
                            font-family: 'Poppins';
                            font-size: 0.7vw;
                            font-weight: 400;
                        }

                        h6 {
                            font-size: 1vw;
                            line-height: 153%;
                        }
                    }

                    span {
                        font-size: 0.9vw;
                        color: variables.$grey-2;
                    }
                }
            }            
        }
    }

    &__controls {     
        .container {
            display: flex;
            justify-content: space-between;
            padding-bottom: 11.6vw;

            a {
                padding: 1.7vw 1.8vw;
                font-size: 1.5vw;
                display: flex;
                gap: 2vw;

                svg {
                    width: 2.1vw;
                    height: 2.4vw;
                }

                &.disabled {
                    pointer-events: none;
                    background-color: #B4A7FF;
                    border: 0.07vw solid #B4A7FF;
                }
            }
        }
    }
}
