@use '../abstracts/variables';

main.menu {
    p {
        color: variables.$grey-2;
        font-weight: 400;
    
        &.hero {
            opacity: 0.7;
            font-size: 1.25vw;
            line-height: 155.556%;
            padding: 0;
    
            & span {
                color: #6155AE;
            }
        }
    }

    .hero {
        .container {
            padding-top: 6vw;
            display: grid;
            grid-template-columns: 52.5vw 26.1vw;
            grid-template-rows: 21.3vw 12.8vw;
            column-gap: 7.77vw;
            row-gap: 6.11vw;
        }

        &__banners {
            display: flex;
            flex-direction: column;
            position: relative;

            svg {
                position: absolute;
                width: 3.6vw;
                right: -3vw;
                top: -1.5vw;
            }

            &-list {
                .carousel:nth-child(2) {
                    display: none;
                }

                .carousel {
                    border-radius: 1.3vw;
                    .slide {
                        text-align: left;
                    }

                    &-slider {
                        overflow: visible;
                    }
                }

                .carousel-status {
                    display: none;
                }

                .control-arrow {
                    display: none;
                }

                .control-dots {
                    width: 9.4vw;
                    display: flex;
                    bottom: -3.47vw;
                    left: 40%;
                    margin: 0 auto;
                    gap: 0.52vw;

                    .dot {
                        background: #dbd9ee;
                        margin: 0;
                        opacity: 1;
                        box-shadow: none;
                        flex: 1 1 auto;
                        height: 0.4vw;
                        border-radius: 3.8vw;
                        transition: .3s;

                        &.selected {
                            flex: 2 1 auto;
                            background: variables.$purple-1;
                        }
                    }
                }
            }
        }

        &__banner {
            position: relative;
            border-radius: 1.3vw;
            background-image: url('/eatly/src/assets/icons/background.svg');
            background-size: contain;
            background-color: variables.$purple-1;
            padding: 4.16vw;
            animation: backgroundAnim 15s infinite;

            &-desc {
                h1 {
                    color: variables.$white-4;
                    font-family: 'Poppins';
                    font-size: 5.2vw;
                    line-height: 85%;
                    font-weight: 800;

                    &:nth-child(2) {
                        font-size: 6.07vw;
                        color: #7C6FCD;
                    }
                }
            }

            img {
                position: absolute;
                right: 2.47vw;
                bottom: -3.6vw;
                width: 17.6vw;
                animation: rotate 7s infinite;
            }
        }

        &__sort {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
            display: flex;
            flex-direction: column;
            gap: 2vw;
            border-radius: 1.65vw;
            background: variables.$white-1;
            box-shadow: 5.71212100982666px 9.520201683044434px 28.560604095458984px 0.9520201683044434px rgba(108, 95, 188, 0.12);
            padding: 2.22vw 2.22vw 2.7vw 2.22vw;

            &:hover {
                transform: scale(1.05);
            }

            &-category {
                display: flex;
                flex-direction: column;
                gap: 1.21vw;

                h5 {
                    color: variables.$dark-3;
                    font-family: Poppins;
                    font-size: 1.48vw;
                    font-weight: 600;
                    line-height: 134%;
                }

                &-list {
                    display: flex;
                    align-items: center;
                    gap: 0.89vw;

                    .category {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 6.66vw;
                        width: 4.59vw;
                        filter: drop-shadow(0px 14.71010684967041px 22.065160751342773px rgba(135, 125, 200, 0.25));
                        border-radius: 1.021vw;
                        transition: .2s;
                        cursor: pointer;

                        h6 {
                            font-size: 0.817vw;
                        }

                        &.Pizza {
                            background-color: rgba(255, 222, 138, 0.35);
                            gap: 1.18vw;
                            color: #D69900;

                            &.active {
                                border: 0.26vw solid #D69900;
                            }

                            img {
                                width: 2.4vw;
                            }
                        }
                        
                        &.Asian {
                            background-color: rgba(247, 197, 186, 1);;
                            gap: 0.56vw;
                            color: #FB471D;
                            
                            &.active {
                                border: 0.26vw solid rgba(251, 71, 29, 0.50);
                            }

                            img {
                                width: 3.125vw;
                            }
                        }
                        
                        &.Donat {
                            background-color: rgba(237, 182, 107, 0.35);
                            gap: 1.27vw;
                            color: #E28B14;

                            &.active {
                                border: 0.26vw solid rgba(226, 139, 20, 0.50);
                            }
                            
                            img {
                                width: 2.4vw;
                            }
                        }

                        &.Ice {
                            background-color: rgba(90, 133, 255, 0.35);
                            gap: 0.9vw;
                            color: #002073;

                            &.active {
                                border: 0.26vw solid rgba(0, 32, 115, 0.25);
                            }

                            img {
                                height: 2.85vw;
                            }
                        }

                        &.active {
                            transform: scale(1.1);
                            filter: drop-shadow(0px 16.399044036865234px 24.598567962646484px rgba(135, 125, 200, 0.25));
                            
                            h6 {
                                font-size: 0.9vw;                                
                            }
                        }
                    }
                }
            }

            &-by {
                display: flex;
                flex-direction: column;
                gap: 0.9vw;

                h5 {
                    color: variables.$dark-3;
                    font-family: Poppins;
                    font-size: 1.48vw;
                    font-weight: 600;
                    line-height: 134%;
                }

                &-list {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    row-gap: 0.608vw;
                    p {
                        cursor: pointer;
                        color: variables.$grey-3;
                        font-size: 1.07vw;
                        font-weight: 500;
                        line-height: 187.02%;

                        &:nth-child(2) {
                            text-align: right;
                        }
                    }
                }
            }

            &-price {
                h5 {
                    color: variables.$dark-3;
                    font-family: Poppins;
                    font-size: 1.52vw;
                    font-weight: 600;
                    line-height: 134%;
                }

                .css-1aznpnh-MuiSlider-root {
                    color: variables.$purple-1;
                }

                .css-1eoe787-MuiSlider-markLabel, .css-yafthl-MuiSlider-markLabel {
                    color: variables.$grey-border;
                    font-family: Poppins;
                    font-size: 0.73vw;
                    font-weight: 500;
                    line-height: 280.53%;
                }
            }

            button {
                cursor: pointer;
                padding: 1.35vw;
                border-radius: 0.94vw;
                background-color: variables.$purple-1;
                color: variables.$cream;

                &:hover {
                    opacity: 0.75;
                }
            }
        }

        &__search {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-input {
                display: flex;
                align-items: center;
                background-color: #EDEDED;
                border-radius: 1vw;
                padding: 1.73vw 27.7vw 1.73vw 1.94vw;
                font-size: 1.43vw;

                svg {
                    height: 1.88vw;
                }

                input {
                    font-family: 'Poppins';
                    font-weight: 500;
                    line-height: 117.5%;
                    letter-spacing: -0.411px;
                    font-size: 1.42vw;
                    
                    &::placeholder {
                        color: #AAABBA;
                    }
                }
            }
            
            &-buttons {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                justify-content: center;

                .button {
                    cursor: pointer;
                    text-align: center;
                    padding: 1.45vw 0;
                    border: 0.152vw solid variables.$purple-1;
                    border-radius: 1.05vw 0 0 1.05vw;
                    font-size: 1.347vw;
                    font-weight: 500;
                    font-family: 'Poppins';
                    color: variables.$purple-1;
                    
                    &:nth-child(2) {
                        border-radius: 0 1.05vw 1.05vw 0;                        
                    }

                    &.active {
                        color: #F3F5F6;
                        background-color: variables.$purple-1;
                    }
                }
            }
        }
    }

    .restaurants {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 6.944vw 0 8.33vw 0;
            gap: 4.56vw;
            border-bottom: 0.07vw solid variables.$grey-border;
        }

        &__text {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        &__list {    
            display: flex;
            align-items: center;
            gap: 2.1vw;
        }
    
        .restaurant {
            position: relative;
            border-radius: 2.08vw;
            box-shadow: 5.94564151763916px 71.34769439697266px 35.67384719848633px 0px rgba(229, 229, 229, 0.70);
    
            &__image {
                img {
                    border-radius: 2.1vw 2.1vw 0 0;
                    width: 27vw;
                    height: 12vw;
                }
            }
    
            &__info {
                padding: 0.7vw 0 1.5vw 2.4vw;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
    
                div {
                    text-transform: capitalize;
                }
    
                .healthy {
                    color: #DAA31A;
                    background: #F7EDD0;
                    font-family: 'Poppins';
                    font-size: .88vw;
                    font-weight: 400;
                    padding: 0.2vw 0.5vw 0.19vw 0.5vw;
                    border-radius: 0.375vw;
                }
                
                .trending {
                    color: #FB471D;
                    background: #F7C5BA;
                    font-family: 'Poppins';
                    font-size: .88vw;
                    font-weight: 400;
                    padding: 0.2vw 0.5vw 0.19vw 0.5vw;
                    border-radius: 0.375vw;
                }
            }
    
            &__desc {
                display: flex;
                flex-direction: column;
                gap: 0.121vw;
            }
    
            &__rating {
                display: flex;
                align-items: center;
                gap: .448vw;
    
                p {
                    color: variables.$grey-6;
                    font-size: 1.3vw;
                    font-weight: 400;
                    line-height: 133.333%;
                }
    
                img {
                    width: 1.75vw;
                    height: 1.75vw;
                }
            }
            svg {
                height: 2.8vw;
                position: absolute;
                bottom: 1.2vw;
                right: 1.9vw;
            }
        }
    }

    .dishes {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 6.944vw 0 8.33vw 0;
            gap: 4.61vw;
            border-bottom: 0.07vw solid variables.$grey-border;

            h3 {
                line-height: 120%;
            }
        }

        &__text {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        &__list {
            display: flex;
            gap: 2.1375vw;
            flex-wrap: wrap;
            justify-content: center;
    
            .dish {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                border-radius: 2.4vw;
                border: 0.07vw solid variables.$white-2;
                background: variables.$white-1;
                box-shadow: 6.84841775894165px 82.18101501464844px 41.09050750732422px 0px rgba(229, 229, 229, 0.70);
                padding: 1.8vw .4vw;
    
                &__add {
                    position: absolute;
                    top: 1.65vw;
                    right: 1.5vw;
                    width: 1.527vw;
    
                    svg {
                        cursor: pointer;
                        width: 100%;
                    }
                }
    
                &__img {
                    width: 14vw;
                }
    
                &__text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.6vw;
                    padding: 0 0 0.21vw 1.6vw;
                }
    
                &__info {
                    &-title {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        
                        p {
                            padding: 0.2vw 0.51vw 0.115vw 0.51vw;
                            font-family: 'Poppins';
                            font-size: .8vw;
                            font-weight: 400;
                            text-transform: capitalize;
                            border-radius: 0.333vw;
    
                            &.healthy {
                                color: #DAA31A;
                                background: #F7EDD0;
                            }
    
                            &.trending {
                                color: #FB471D;
                                background: #F7C5BA;
                            }
    
                            &.supreme {
                                color: #309D5B;
                                background: rgba(51, 172, 100, .2);
                            }
                        }
    
                        h5 {
                            color: variables.$dark-3;
                            font-size: 1.6vw;
                            line-height: 162.5%;
                        }
                    }
    
                    &-rating {
                        display: flex;
                        gap: 0.4vw;
                        align-items: center;
    
                        img {
                            width: 1.75vw;
                            height: 1.75vw;
                        }
    
                        p {
                            font-size: 1.2vw;
                            line-height: 133.333%;
                        }
                    }
                }
    
                &__price {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    .prices {
                        display: flex;
                        align-items: flex-end;
    
                        &-main {
                            color: variables.$dark-3;
                            font-family: 'Manrope';
                            font-size: 1.8vw;
                            line-height: 140%;
                        }
                        
                        &-lil {
                            color: variables.$grey-6;
                            font-family: 'Manrope';
                            font-size: 1.32vw;
                            line-height: 155.556%;
                        }
                    }
                    svg {
                        width: 2vw;
                        margin-right: 1.25vw;
                    }
                }
            }
        }
    }
}