@use '../abstracts/variables';

.restaurant-detail {
    .restaurant-info {
        padding: 7vw 0;

        .container {
            display: flex;
            flex-direction: column;
            box-shadow: 0.5vw 6vw 3.2vw 0vw rgba(229, 229, 229, 0.70);
        }
        
        &__image {
            border-radius: 2.08vw 2.08vw 0px 0px;
            width: 100%;
            height: 26.25vw;
            background-position: center;
            background-size: cover;
        }
        
        &__text {
            border-radius: 0px 0px 2.08vw 2.08vw;
            width: 100%;
            padding: 2.08vw 3vw 2.43vw 3.2vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: variables.$white-1;
        }
        
        &__rating {
            display: flex;
            align-items: center;
            gap: .5vw;
        
            p {
                color: variables.$grey-6;
                font-size: 1.8vw;
            }
        
            img {
                width: 2.4vw;
                height: 2.4vw;
            }
        }

        button {
            padding: 1.1vw 1.38vw;
            border-radius: 50%;
            transition: .9s;

            &.active {
                background-color: #DBD9EE;
            }

            img {
                height: 2.1vw;
            }
        }
    }

    .popular-dishes {
        .container {
            display: flex;
            flex-direction: column;
            padding: 3.47vw 0;
            gap: 4.16vw;
        }
    }

    .chicken {
        .container {
            display: flex;
            flex-direction: column;
            gap: 4.16vw;
            padding: 7vw 0 10vw 0;
            border-bottom: 0.07vw solid variables.$grey-border;
        }
    }

    .dishes__list {
        justify-content: flex-start;
        gap: 2.5vw;
    }
}