@use '../abstracts/variables';

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .3s;
}

body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: variables.$white-2;
}

.container {
    max-width: 86%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1 {
    color: variables.$dark-1;
    font-family: 'Poppins';
    font-size: 5.208vw;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;

    & span {
        color: variables.$purple-2;
    }
}

h2 {
    color: variables.$dark-2;
    font-family: 'Poppins';
    font-size: 3.6vw;
    font-weight: 700;
    line-height: 114.286%;
    text-transform: capitalize;

    & span {
        color: variables.$purple-1;
    }

}

h3 {
    color: variables.$dark-3;
    font-family: 'Poppins';
    font-size: 3.125vw;
    font-weight: 600;
    line-height: 56.797%;

    & span {
        color: variables.$purple-1;
    }
}

h4 {
    color: variables.$dark-3;
    font-family: 'Poppins';
    font-size: 2.43vw;
    font-weight: 600;
    line-height: 73.024%;
    
    & span {
        color: variables.$purple-1;
    }
}

h5 {
    color: variables.$dark-3;
    font-family: 'Poppins';
    font-size: 1.79vw;
    font-weight: 600;
    line-height: 162.5%;
    
    & span {
        color: variables.$purple-1;
    }
}

h6 {
    color: variables.$dark-3;
    font-family: 'Poppins';
    font-size: 1.46vw;
    font-weight: 600;
    line-height: 119.5%;
    
    & span {
        color: variables.$purple-1;
    }
}

button, select, option, input {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

.nav__link {
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 1.85vw;
    
    &:hover {
        color: variables.$purple-1;
    }

    &.active {
        color: variables.$purple-1;
    }
}

.box-shadow {
    box-shadow: 14.120481491088867px 18.82731056213379px 37.65462112426758px 0px rgba(26, 32, 44, 0.15);
}